<%= form_with(model: subject_matter) do |form| %>
  <% if subject_matter.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(subject_matter.errors.count, "error") %> prohibited this subject_matter from being saved:</h2>

      <ul>
        <% subject_matter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
