<div id="<%= dom_id student_chat_fragment %>">
  <p>
    <strong>Student chat:</strong>
    <%= student_chat_fragment.student_chat_id %>
  </p>

  <p>
    <strong>Response type:</strong>
    <%= student_chat_fragment.response_type %>
  </p>

  <p>
    <strong>Chat text:</strong>
    <%= student_chat_fragment.chat_text %>
  </p>

  <p>
    <strong>Student response:</strong>
    <%= student_chat_fragment.student_response %>
  </p>

</div>
