<div id="<%= dom_id concept %>">
  <p>
    <strong>Subject matter:</strong>
    <%= concept.subject_matter_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= concept.name %>
  </p>

  <p>
    <strong>Concept prompt:</strong>
    <%= concept.concept_prompt %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= concept.notes %>
  </p>

</div>
