<h1><i class="fa-regular fa-sparkles"></i> Concepts <%= link_to '<i class="fa-solid fa-plus"></i> Create New'.html_safe, new_concept_path, class: 'btn btn-success' %></h1>

<div class="bg-white p-5 rounded shadow-sm">

  <div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Subject Matter</th>
        <th scope="col">Concept Name</th>
        <th scope="col">Concept Prompt</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @concepts.each do |concept| %>
      <tr>
        <td><span class="badge text-bg-secondary"><%= concept.subject_matter.name %></span></td>
        <td><%= concept.name %></td>
        <td><%= concept.concept_prompt %></td>
        <td><%= link_to '<i class="fa-solid text-primary fa-eye"></i>'.html_safe, concept %></td>
        <td><%= link_to '<i class="fa-solid text-success fa-pen-to-square"></i>'.html_safe, edit_concept_path(concept) %> </td>
        <td><%= link_to '<i class="fa-solid text-danger fa-trash"></i>'.html_safe, concept, method: :delete,  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %></td>
      </tr>
      <% end %>        
    </tbody>
  </table>
  </div>
</div>